#box{
    width: 350px;
    height: 179px;
    border: 1px solid #B4B4B4;;
    margin-top: 73px;
    margin-left: 109px;
    margin-right: 851px;
    margin-bottom: 821px;

}

#p{
    color: #808080;;
}